<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body >
<%- include ./partials/nav.ejs %>
<main >
    <div class="row" >
        <div class="col s7 offset-s1" >
            <ul id="staggered-test" >
                <li class="" style="transform: translateX(0px); opacity: 0;" >
                    <div class="card white darken-1" >
                        <div class="card-content" >
                        <span class="card-title center-align" >
                            <img class="circle" src="images/empty.png" alt=""
                                 width="64" height="64" ><p >Welcome <%= UserInfo.info.username %></p ></span >

                        </div >
                    </div >
                </li >
                <div id="Timeline" class="col s12" style="margin-top: 5%;margin-bottom: 10%" >
                    <div >
                        <ul id="posts" class="collection truncate" >

                        </ul >
                    </div >
                </div >
            </ul >
        </div >
        <div class="col s4" >
            <ul id="staggered-test2" >
                <li class="" style="transform: translateX(0px); opacity: 0;" >
                    <div class="card white lighten-2" >
                        <div class="card-content" >
		<span class="card-title" >Top Artists <div class="chip" >
     Daily
  </div >
  <div class="chip" >
     Week
  </div >
  <div class="chip" >
     Month
  </div ></span >
                        </div >
                        <ul class="collection" >
                            <% UserInfo.TopArtists.forEach(function (output) { %>
                            <li class="collection-item avatar" >
                                <img src="<%= output.profilepic_url %>" alt="images/empty.png"
                                     class="circle" >
                                <span class="title" ><%= output.username %></span >
                                <p ><%= output.status %>
                                </p >
                                <a href="#" class="secondary-content" ><%= output.liked %></a >
                            </li >
                            <% }); %>
                        </ul >
                    </div >
                    <div class="card white lighten-2" >
                        <div class="card-content white-text" >

                            <canvas id="myChart" width="400" height="400" ></canvas >
                        </div >
                    </div >
                </li >
            </ul >
        </div >
    </div >
</main >
<%- include ../../Partials/footer.ejs %>

<script >
  Materialize.showStaggeredList('#staggered-test');
  Materialize.showStaggeredList('#staggered-test2');
  var ctx = document.getElementById("myChart");
  var label = [];
  var count = [];
  var colours = [];

  <% UserInfo.TopGenres.forEach(function (output) { %>
  label.push("<%= output.name %>");
  count.push(<%= output.count %>);
  colours.push(getRandomColor());
  <% }); %>

  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: label,
      datasets: [
        {
          data: count,
          backgroundColor: colours
        }]
    }
  });

  function getRandomColor () {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }

  function getPosts () {
    for (var i = 0; i < 10; i++) {
      var first = ' <li class="collection-item avatar"> ';
      first += '<div><img src="images/empty.png" alt="" class="circle">';
      first += '<span class="title">' + i + '</span>';
      first += '<p>First Line <br> Second Line';
      first += '</p></div><a href="" class="secondary-content"><i class="material-icons">grade</i></a>';
      first += '<a href="" class="secondary-content pin-bottom"><i class="material-icons">thumb_down</i></a></li>';
      $("#posts").append(first);
    }

  }

  $("#Timeline").onload(getPosts());

</script >

</body >
</html >
