<!doctype html>
<html >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body >
<%- include ./partials/nav.ejs %>
<main>
<div class="container" >
    <div class="page-header text-center" >
        <h1 ><span class="fa fa-anchor" ></span > Profile Page</h1 >
        <a href="/logout" class="btn btn-default btn-sm" >Logout</a >
    </div >
    <div class="row" >
        <div class="col-sm-12" >
            <div class="well" >
                <h3 ><span class="fa fa-user" ></span > Profile</h3 >
                <p >
                    <strong >Firstname: </strong >: <%= user.firstname %><br >
                    <strong >Surname: </strong >: <%= user.surname %><br >
                    <strong >Username: </strong >: <%= user.	username %><br >
                    <strong >Email: </strong >: <%= user.email %><br >
                    <strong >Song_link: </strong >: <%= user.song_link %><br >
                    <strong >Username: </strong >: <%= user.username %><br >
                    <strong >Latitude: </strong >: <%= user.latitude %><br >
                    <strong >Longitude: </strong >: <%= user.longitude %><br >
                    <strong >Join Date: </strong >: <%= user.join_timestamp %><br >
                    <strong >profilepic_url: </strong >: <%= user.profilepic_url %><br >
                    <strong >Description: </strong >: <%= user.description %><br >
                    <strong >Skill: </strong >: <%= user.skill %><br >
                    <strong >Search Distance: </strong >: <%= user.distance %>km<br >
                    <strong >Genre: </strong >: <%= user.genre %>km<br >

                </p >
            </div >
        </div >
    </div >
</div >
</main>
<%- include ../../Partials/footer.ejs %>
</body >
</html >