<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body >
<%- include ./partials/nav.ejs %>
<div >
    <ul id="slide-out" class="tabs center-align" >
        <li id="personalSettings" class="tab col s3" ><a href="#personal" >Personal Settings</a ></li >
        <li id="password" class="tab col s3" ><a href="#passwords" >Change Password</a ></li >
        <li id="genreAndSkill" class="tab col s3" ><a href="#genreAndSkills" >Genre and Skills</a ></li >
    </ul >

    <div id="personal" class="col s12 center-align" style="margin-bottom:7%; margin-top: 3%" >
        <div class='container center-align' >

            <div class="card white darken-1" >

                <div class="card-content center-align" style="margin-right: 15%; margin-left: 15%" >
                    <span class="card-title" ><h1 >Personal Settings</h1 ></span >
                    <span class="card-title" >What personal information do you want to change?</span >
                    <%console.log(user)%>
                    <div class="input-field col s6 center-align" >
                        <label for="firstname" >First Name</label >
                        <input id="firstname" value="<%=user.firstname%>" name="firstname" type="text" data-error=".errorTxt1" >
                        <div class="errorTxt1" ></div >
                    </div >

                    <div class="input-field col s6 center-align" >
                        <label for="surname" >Surname</label >
                        <input id="surname" value="<%=user.surname%>" name="surname" type="text" data-error=".errorTxt22" >
                        <div class="errorTxt22" ></div >
                    </div >

                    <div class="input-field col s12" >
                        <textarea id="description" value="<%=user.description%>" name="description" class="materialize-textarea validate"
                                  data-error=".errorTxt7" ></textarea >
                        <label for="description" >Description</label >
                        <div class="errorTxt7" ></div >
                    </div >

                    <a href="/dashboard" class="btn btn-default left-align red" >Cancel</a >
                    <a href="/dashboard" class="btn btn-default right-align" onclick="updateInfo()" >Save</a >
                </div >
            </div >
        </div >
    </div >

    <div id="passwords" class="col s12 center-align" style="margin-bottom:7%; margin-top: 3%" >
        <div class='container center-align' >

            <div class="card white darken-1" >

                <div class="card-content center-align" style="margin-right: 15%; margin-left: 15%" >
                    <span class="card-title" ><h1 >Change Password</h1 ></span >
                    <span class="card-title" >Change Your Password</span >

                    <div class="input-field col s6 center-align" >
                        <label for="Current Password" >Current Password</label >
                        <input id="current" type="password" data-error=".errorTxt1" >
                        <div class="errorTxt1" ></div >
                    </div >

                    <div class="input-field col s6 center-align" >
                        <label for="newPass" >New Password</label >
                        <input id="newPass" type="password" data-error=".errorTxt22" >
                        <div class="errorTxt22" ></div >
                    </div >

                    <div class="input-field col s12" >
                        <textarea id="confirm" type="password" class="materialize-textarea validate"
                                  data-error=".errorTxt7" ></textarea >
                        <label for="confirm" >Confirm</label >
                        <div class="errorTxt7" ></div >
                    </div >

                    <a href="/dashboard" class="btn btn-default left-align red" >Cancel</a >
                    <a href="/dashboard" class="btn btn-default right-align" onclick="updatePassword()">Save</a >
                </div >
            </div >
        </div >
    </div >

    <div id="genreAndSkills" class="col s12 center-align" style="margin-bottom:7%; margin-top: 3%" >
        <div class='container center-align' >

            <div class="card white darken-1" >

                <div class="card-content center-align" style="margin-right: 15%; margin-left: 15%" >
                    <span class="card-title" ><h1 >Genre and Skill</h1 ></span >
                    <span class="card-title" >Update Your Genre and Skills</span >
                    <div class="input-field col s12">
                        <script src="javascripts/Genre.js" src="javascripts/materialize.js" type="text/javascript">

                            var genres = Genres.genres();

                        </script>
                        <select id="genres">
                            <option value="" disabled selected>Choose your Genre</option>
                        </select>
                        <label>Genre</label>
                    </div>

                    <div class="input-field col s12">
                        <select multiple id="sSkills">
                            <option value="" disabled selected>Choose your Skills</option>
                            <option>Test</option>
                        </select>
                        <label>Skills</label>
                    </div>

                    <a href="/dashboard" class="btn btn-default left-align red" >Cancel</a >
                    <a href="/dashboard" class="btn btn-default right-align" onclick="updateInfo()" >Save</a >
                </div >
            </div >
        </div >
    </div >

<a id="testing" class="btn-flat">Test</a>
</div >
</main >
<div class=" hide-on-med-and-down" style="margin-left: 22% "><%- include ../../Partials/footer.ejs %></div>
<div class=" hide-on-large-only"><%- include ../../Partials/footer.ejs %></div>
<script>

    $(document).ready(function()
    {
        var settings =
            {
                "async": true,
                "crossDomain": true,
                "url": "https://eternalvibes.me/getSkills",
                "method": "GET"
            }

        $.ajax(settings).done(function (response)
        {
            alert(response);
        });


        $('select').material_select();
        alert(getSkills());

        function getSkills()
        {
            $.ajax(
            {
                type: "GET",
                async: true,
                url: "https://eternalvibes.me/getSkills",
                success: function(data) {  return data; alert('works'); },
                error: alert('fail')
            });
        }

    });


$('#testing').onclick(alert("hello"));

    function updateInfo()
    {
        $.post("https://www.eternalvibes.me/updateUserInfo",
            {
                firstname:$('#firstname').value,
                surname:$('#surname').value,
                description:$('#description').value
            },
            function (data)
            {
                if(data == 200)
                {
                    Materialize.toast("Updated User Info", 5000);
                }
            });
    }


    function updateGenre_Skills(id, genre, skills)
    {
        $.post("https://eternalvibes.me/updateUserSkills",
            {
                Id: id,
                skills: $("#skills").value()

            },
            function (data)
            {

            });
        $.post("https://eternalvibes.me/updateUserInfo",
            {
                Id: id,
                genre_id: $("#genre").value()

            },
            function (data)
            {

            });
    }


</script >



</body >
</html >
