<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head>
<body class="grey lighten-3">

<main>

    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div class="center header card-content rectangle" style="width:100% ;height:200px;
            background: url('images/background/background4.jpg'); background-size: cover;">
        <div  class="center col s4 offset-s5 " style="margin-top: 18%;">
            <h2 class="card-title orange-text" align="center">Available Genres</h2>

            <div id='gList' style="margin-top: 7%">

                <ul class="card collapsible popout" style="background-color: transparent">
                    <% genres.forEach(function(genre)
                    {%>
                        <li class="card-content white" >
                            <div class="collapsible-header">
                                <blockquote><strong><%= genre.name%></strong></blockquote>
                            </div>
                        </li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <div class="fixed-action-btn">
        <a id="add" data-target="addGenre" class="btn-floating btn-large modal-trigger waves-effect waves-light red">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="addGenre" class="modal bottom-sheet">
        <div class="modal-content center">
            <h2 class="brown-text modal-ux-header">Add Genre</h2>
            <h5>Add a new genre for users</h5>
            <input type="text" id="add_genre" placeholder="Enter New Genre" />
            <br/>
            <div class="modal-footer">
                <a id="submit_genre" onclick="addGenre()"
                   class="modal-action modal-close waves-effect waves-light btn-flat brown-text">Submit</a>
                <a class="modal-action modal-close waves-effect waves-light btn-flat red-text left">Cancel</a>
            </div>
        </div>
    </div>


</main>
<%- include ../../Partials/footer.ejs %>
</body>
<script>

    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        if(info.admin == 0)
        {
            history.back();
        }

    });


    function addGenre()
    {
        var genre = $('#add_genre').val();
        if(genre == '')
        {
            materialize.toast("please enter a skill",5000);
        }
        else
        { $.post("https://www.eternalvibes.me/addGenre",
            {
                genreName: genre
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {

                }
            });
            materialize.toast(skill + " has been added", 500);
            $('#add_genre').reset();
            $('#gList').reload(true);
        }

    };

    Materialize.showStaggeredList('#gList');

</script>
<script src="javascripts/Genre.js"  src="javascripts/Cookies.js" type="text/javascript">

    var genres ="<%=genres%>"


</script>


</html>
