<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body class="grey lighten-3" >

<main >

    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div class="center header card-content rectangle" style="width:100% ;height:200px;
            background: url('images/background/background4.jpg'); background-size: cover;" >
            <div class="center col s4 offset-s5 " style="margin-top: 10%;" >
                <a href="#" data-activates="slide-out" class=" hide-on-large-only
                                right-aligned large btn-floating button-collapse"
                   style="margin-top: 2%">
                    <i class="material-icons">menu</i>
                </a>

                <h2 class="card-title orange-text" align="center" >Available Genres</h2 >
                <ul class="collection" >
                    <% genres.forEach(function(genre)
                    { %>
                    <li class="collection-item dismissable" >
                        <div ><%= genre.name %><a onclick="deleteGenre(<%= genre.id %>)" class="secondary-content" ><i
                                        class="material-icons" >clear</i ></a ></div >
                    </li >
                    <% }) %>
                </ul >

            </div >
        </div >
    </div >

    <div class="fixed-action-btn" >
        <a id="add" data-target="addGenre" class="btn-floating btn-large modal-trigger waves-effect waves-light red" >
            <i class="material-icons" >add</i >
        </a >
    </div >

    <div id="addGenre" class="modal bottom-sheet" >
        <div class="modal-content center" >
            <h2 class="brown-text modal-ux-header" >Add Genre</h2 >
            <h5 >Add a new genre for users</h5 >
            <input type="text" id="add_genre" placeholder="Enter New Genre" />
            <br />
            <div class="modal-footer" >
                <a id="submit_genre" onclick="addGenre()"
                   class="modal-action modal-close waves-effect waves-light btn-flat brown-text" >Submit</a >
                <a class="modal-action modal-close waves-effect waves-light btn-flat red-text left" >Cancel</a >
            </div >
        </div >
    </div >

</main >
</body >
<script >
function deleteGenre (genreId) {

    $.post("https://eternalvibes.me/deleteGenre",
      {
        genreId: genreId
      },
      function () {
        location.reload();
        Materialize.toast('Banned User', 500);
      });
  }

  function addGenre () {
    var genreName =$('#add_genre').val()
    $.post("https://eternalvibes.me/addGenre",
      {
        genreName: genreName
      },
      function (data) {
        console.log("Data: " + data);
        location.reload();
        Materialize.toast('Added genre', 500);
      });
  }
  $(document).ready(function () {
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    if (info.admin === 0) {
      history.back();
    }

  });



  Materialize.showStaggeredList('#gList');

</script >
<script src="javascripts/Genre.js" src="javascripts/Cookies.js" type="text/javascript" >

  var genres = "<%= genres %>"

</script >

</html >
