<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body class="brown-text text-darken-2">
<%-include ../../Partials/UserInfo.ejs%>
<main >
    <div class="row" >
        <%- include ./partials/nav.ejs %>

        <!--FlaggedUsers Tab-->
        <div id="FlaggedUsers" class="col s6 offset-s3" style="margin-top: 5%">
            <h2 align="center">Flagged Users</h2>
            <div>
                <ul id="fUserList" class="collection truncate">
                    <% console.log(flaggedUsers);
                    flaggedUsers.forEach(function (user) { %>
                    <li class="collection-item avatar">
                        <div card white darken-4><img src="images/profilePics/<%= user.userId %>.png" alt="" class="circle">
                            <span class="title"> <h3><%=user.username%> </h3></span>
                            <p>Reason for flag: <%=user.reason%></p>

                        </br>
                        <a class="waves-effect waves-light btn" onclick="pardonUser(<%= user.userThatGotReported %>)">
                            <i class="material-icons left">thumb_up</i>Pardon</a>
                        <a class="waves-effect waves-light btn red" onclick="banUser(<%= user.userThatGotReported %>)">
                            <i class="material-icons left">thumb_down</i>Ban</a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>

    </div >
</main >
<%- include ../../Partials/footer.ejs %>
<script >
    Materialize.showStaggeredList('#FlaggedUsers');

    $(document).ready(function(){
        if(info.admin == 0)
        {
            history.back();
        }
    });

    function banUser (id) {

        $.post("https://www.eternalvibes.me/banUser",
            {
                userId: id
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {
                    location.reload();
                    Materialize.toast('Banned User', 500);
                }
            });
    }

    function pardonUser (id) {

        $.post("https://www.eternalvibes.me/pardonUser",
            {
                userId: id
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {
                    Materialize.toast('Pardoned User', 500);
                    location.reload();
                }
            });
    }

    $(".button-collapse").sideNav();

</script >

</body >
</html >
