<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body >
<main >
    <div class="row" >
        <%- include ./partials/nav.ejs %>

        <!-- Information displayed in each tab-->
        <div id="FlaggedPosts" class="col s12 offset-s2 container" >
            <div>
                <ul id="fPostList"  class="collection truncate">
                    <%
                    flaggedPosts.forEach(function (post) {%>
                    <li id="post<%=post.status_id%>" name="post<%=post.status_id%>" class="collection-item avatar">
                        <div><img src="images/profilePics/<%= post.status_id %>.png" alt="" class="circle" width="100px" height="100px">
                            <span class="title"> <h3><%=post.username%> </h3></span>
                            <p>Message: <%=post.status%> <br> Reason for flag: <%=post.reason%></p>
                            <p>No. Likes: <%=post.liked%> <br> No. Flags: <%=post.flags%></p>
                        </div>
                        <br>
                        <a id="par<%=post.status_id%>" name="pardon<%=post.status_id%>" class="waves-effect waves-light btn btn_pardon" onclick="pardonStatus(<%= post.status_id %>)">
                            <i class="material-icons left">thumb_up</i>Pardon</a>
                        <a id="rem<%=post.status_id%>" name="remove<%=post.status_id%>" class="waves-effect waves-light btn red btn_delete" onclick="deleteStatus(<%= post.status_id %>)">
                            <i class="material-icons left">thumb_down</i>Remove</a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>

    </div >
</main >

<script >

    Materialize.showStaggeredList('#staggered-test');
    function deleteStatus (id) {


        $.post("https://www.eternalvibes.me/deleteStatus",
            {
                statusId: id
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {
                    Materialize.toast('Removed Post', 500);
                    location.reload();
                }
            });
    }

    function pardonStatus (id) {

        $.post("https://www.eternalvibes.me/pardonStatus",
            {
                statuId: id
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {
                    Materialize.toast('Pardoned Post', 500);
                    location.reload();
                }
            });

    }

    $(".button-collapse").sideNav();

</script >

</body >
</html >
