<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body >
<main >
    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div class="col s8" >
            <div class="valign-wrapper" >
                <h2 class="center-align" style='width:100%;' >Flagged Posts</h2 >
            </div >
            <ul id="staggered-test" >
                <li class="" style="transform: translateX(0px); opacity: 0; " >
                </li >
                <li class="" style="transform: translateX(0px); opacity: 0; margin-top:100px;" >
                    <ul class="collection" >
                        <%
                        flaggedPosts.forEach(function (post) { %>
                        <li class="collection-item avatar" >
                            <img src="images/profilePics/<%= post.user_id %>.png" alt="" class="circle" >
                            <span class="title" >Username: <%= post.username %></span >
                            <p >ReportId: <%= post.id %></p >
                            <p >StatusId: <%= post.status_id %></p >
                            <p >UserId: <%= post.user_id %></p >
                            <p >ReporterUserId: <%= post.reporterUser_id %></p >
                            <p >Reason: <%= post.reason %></p >
                            <p >Extra Info: <%= post.extra_info %></p >
                            <p >Post Likes: <%= post.liked %></p >
                            <P >TimeStamp: <%= post.timestamp %></P >
                            <a class="waves-effect waves-light btn" onclick="pardonStatus(<%= post.status_id %>);"><i class="material-icons left">cloud</i>Pardon</a>
                            <a class="waves-effect waves-light btn" onclick="deleteStatus(<%= post.status_id %>);"><i class="material-icons left">cloud</i>Remove</a>
                        </li >
                        <% }) %>
                    </ul >
                </li >
            </ul >
        </div >

    </div >
</main >
<script >
  Materialize.showStaggeredList('#staggered-test');
  function deleteStatus (id) {
    $.post("https://www.eternalvibes.me/deleteStatus",
      {
        statuId: id
      },
      function (data, status) {
        console.log("Data: " + data + "\nStatus: " + status);
      });
  }
  function pardonStatus (id) {
    $.post("https://www.eternalvibes.me/pardonStatus",
      {
        statuId: id
      },
      function (data, status) {
        console.log("Data: " + data + "\nStatus: " + status);
      });
  }

  $(".button-collapse").sideNav();
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  $(document).ready(function () {
    $(".carousel-fixed-item").on('click', '.btn', function () {
      $('.carousel').carousel('next');
      Materialize.toast('Judged!', 2000, 'rounded')
    });
  });

</script >

</body >
</html >
