<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head >
<body class="grey lighten-3" >
<%- include ../../Partials/UserInfo.ejs %>
<main >
    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div class="center header card-content rectangle" style="width:100% ;height:200px;
            background: url('images/background/background4.jpg'); background-size: cover;" >
        </div >
        <!-- Information displayed in each tab-->
        <a href="#" data-activates="slide-out" class=" hide-on-large-only
                                right-aligned large btn-floating button-collapse"
           style="margin-top: 2%">
            <i class="material-icons">menu</i>
        </a>
        <div id="FlaggedPosts" class=" col s6 offset-s4 " style="margin-top: 4%" >
            <h2 class="orange-text" align="center" >Flagged Posts</h2 >
            <div >
                <ul id="fPostList" class="collection truncate collapsible popout"
                    data-collapsible="accordion" >
                    <% console.log(flaggedPosts);
                    if(flaggedPosts.length > 0)
                    {
                    flaggedPosts.forEach(function (post)
                    { %>
                    <li id="post<%= post.status_id %>" name="post<%= post.status_id %>" class="collection-item avatar" >
                        <div class=" card-title white darken-4" >
                            <img src="images/profilePics/<%= post.user_id %>.png" alt="" class="circle" width="60%"
                                 height="60%" >
                            <span > <h3 ><%= post.username %> </h3 ></span >
                        </div >
                        <div >
                            <hr >
                            <blockquote >
                                <p >Message: <%= post.status %></p >

                                <br >
                                <strong >Reason for flag:</strong > <%= post.reason %>
                                <br >
                                <br >
                                <% if(post.liked > 0)
                                { %>
                                <strong >
                                    Likes (<%= post.liked %>)
                                </strong >
                                <br >
                                <% } else { %>
                                <strong >no likes &emsp; &emsp; Flags (<%= post.flags %>)</strong >
                                <% } %>

                            </blockquote >
                            <br >
                            <div >
                                <a id="par<%= post.status_id %>" name="pardon<%= post.status_id %>"
                                   class="waves-effect waves-light btn btn_pardon"
                                   onclick="pardonStatus(<%= post.status_id %>)" >
                                    <i class="material-icons left" >thumb_up</i >Pardon</a >
                                <a id="rem<%= post.status_id %>" name="remove<%= post.status_id %>"
                                   class="waves-effect waves-light right btn red btn_delete"
                                   onclick="deleteStatus(<%= post.status_id %>)" >
                                    <i class="material-icons left" >thumb_down</i >Remove</a >
                            </div >

                        </div >
                    </li >
                    <% })}else{ %>

                    <h1 class="grey-text darken-2" >No Flagged Posts Available</h1 >
                    <% } %>

                </ul >
            </div >
        </div >

    </div >
</main >

<script >

  $(document).ready(function () {
    if (info.admin === 0) {
      history.back()
    }
  })


  Materialize.showStaggeredList('#FlaggedPosts')

  function deleteStatus (id) {

    $.post('https://eternalvibes.me/deleteStatus',
      {
        statusId: id,
      },
      function () {
        Materialize.toast('Removed Post', 500)
        location.reload()

      })
  }

  function pardonStatus (id) {

    $.post('https://eternalvibes.me/pardonStatus',
      {
        statusId: id,
      },
      function () {
        Materialize.toast('Pardoned Post', 500)
        location.reload()

      })

  }

</script >

</body >
</html >
