<h1 class="center-align"><img height="10%" width="10%" src="images/profilePics/<%= info.id %>.png" alt=""
                              class="circle"> <a href="/profile"><%= info.username %></a></h1></header>


<!-- Menu Design for Tablets and Phone screen -->
<div class="col s3 hide-on-large-only" >
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" >menu</i ></a >
    <ul id="slide-out" class="side-nav" >
        <li >
            <div class="userView" >
                <div class="background" >
                    <img src="images/background/background1.jpg" >
                </div >
                <a href="#!user" ><img class="circle"
                                       src="images/profilePics/<%= info.id %>.png" ></a >
                <a href="#!name" ><span class="white-text name" ><%= info.username %></span ></a >
                <a href="#!email" ><span class="white-text email" ><%= info.email %></span ></a >
            </div >
        </li >

        <li ><a class="subheader"  ><i class="material-icons right" >thumbs_up_down</i >Flagged</a ></li >
        <li ><a id="flagUsers" class="tab" href="#flUsers" onclick="Materialize.showStaggeredList('#fUserList')" >Flagged Users</a ></li >
        <li ><a id="flagPosts" class="tab" href="#flPosts" onclick="Materialize.showStaggeredList('#fPostList')" >Flagged Posts</a ></li >
        <li >
            <div class="divider" ></div >
        </li >
        <li ><a href="#Skills" class="tab" onclick="Materialize.showStaggeredList('#AddSkill')" >Add Skills</a ></li >
        <li class='active' ><a href="#Genre" onclick="Materialize.showStaggeredList('#AddGenre')">
                Add Genres</a ></li >
        <li ><a href="/reports" >Reports</a ></li >
        <li >
            <div class="divider" ></div >
        </li >
        <li ><a href="/dashBoard" ><i class="material-icons right" >power_settings_new</i >Admin</a ></li >

    </ul >
</div>


<!-- Menu Design for laptop and computer screen -->
<ul class="center hide-on-med-and-down" style="margin-top: 5%; margin-left: 15%">
    <li id="flPosts" class="  col s2">
        <a href="/FlaggedPosts">
            <i class="medium material-icons right-align">feedback</i>Flagged Posts
            <span id="numPosts" class="new badge">15</span></a></li>

    <li id="flUsers" class=" tab col s2"><a href="/FlaggedUsers">
            <i class="medium material-icons left-align">assignment_ind</i>Flagged Users
            <span id="numUsers" class="new badge"> 15</span></a></li>

    <li id="Genre" class=" tab col s2">
        <a href="/AddGenres">
            <i class="medium material-icons right-align">library_music</i>Add Genres</a></li>

    <li id="Skills" class="col s2"><a href="/AddSkills">
            <i class="medium material-icons right-align">palette</i>Add Skills</a></li>

    <li id="Reports" class="tab col s2"><a href="/reports">
            <i class="medium material-icons right-align">multiline_chart</i>Reports</a></li>



</ul>